<div class="container-fluid">
    <div class="row mynabvar">
        <section class="col-xs-8"><a class="logo" href="/">FunSpot</a></section>
        <section class="col-xs-4 text-center align-middle"><%= link_to "ログイン", lessons_path, class: 'btn btn-primary logo' %></section>
    </div>
</div>