<script type="text/javascript">
    $(function(){
        $(".navbar").removeClass("navbar-devise");
        $(".navbar").addClass("navbar-default");
    });
</script>

<div class="jumbotron">
    <%= render 'partial/navbar' %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="display-3">ダンス 未経験者 大歓迎！<BR/>ダンスでストレス発散しよう！</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <%= link_to "ダンスレッスンを探す", lessons_path, class: 'btn btn-primary' %>
                <%= link_to "ダンスレッスンを開催する", new_lesson_path, class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>


<%= render 'partial/footer' %>