<script type="text/javascript">
    $(function(){
        $(".navbar").removeClass("navbar-devise");
        $(".navbar").addClass("navbar-default");
    });
</script>
<%= render 'partial/navbar' %>
<div class="jumbotron">
    <div class="container-fluid">
    </div>
    <div class="container-fulid">
        <div class="row">
            <div class="text-center">
                <h1 class="display-4">ダンス未経験者大歓迎！<BR/>ダンスでストレス発散しよう！</h1>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <p><%= link_to "ダンスレッスンを探す", lessons_path, class: 'btn btn-primary' %></p>
                <p><%= link_to "ダンスレッスンを開催する", new_lesson_path, class: 'btn btn-primary' %></p>
            </div>
        </div>
    </div>
</div>

<%= render 'partial/footer' %>