<%= render 'partial/navbar' %>

<div class="row">
    <% @lessons.each do |lesson| %>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"><%= lesson.title %></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"><%= image_tag 'search-icon' %></div>
                        <div class="col-sm-3"><a class="circle" href="~">
                            <span>募集中<br>0/5</span>
                        </a>
                        </br></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <p><button type="button" class="btn btn-primary center-block">参加します！</button></p>
                    <p><button type="button" class="btn btn-primary center-block">質問があります！</button></p>
                    <div class="col-md-10 col-md-offset-1"> <%= lesson.summary %> </div>
                    <button type="button" class="btn btn-primary center-block">詳細を知りたいです！</button>
                </div>
            </div>
        </div>
    <% end %>
</div>