// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pickadate/default";
@import "pickadate/default.date";
@import "pickadate/default.time";

.jumbotron {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) ), url(child-3281615_1920.jpg);
    background-size:cover;
    // 背景画像の位置を決める
    background-position: 50% 50%;
    height: 420px;
    position: relative;
}

.jumbotron .container .row{
    margin-top: 100px;
    color: #fff;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}

// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    background-color: #4c66a4;
}

// row-space類
.row-space-top-0 {
margin-top: 0px;
}

.row-space-top-1 {
margin-top: 10px;
}

.row-space-top-2 {
margin-top: 15px;
}

.row-space-top-3 {
margin-top: 20px;
}

.row-space-top-4 {
margin-top: 25px;
}

.row-space-0 {
margin-bottom: 0px;
}
.row-space-1 {
margin-bottom: 10px;
}

.row-space-2 {
margin-bottom: 15px;
}

.row-space-3 {
margin-bottom: 20px;
}

.row-space-4 {
    margin-bottom: 25px;
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}

// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

// listings/indexのcss
a.sidebar-item {
    font-size: 16px;
    color: #222;
  }
  
  .sidebar-list li.active {
    font-weight: bold;
  }
  
  .ul-unstyled{
    list-style: none; padding-left: 0;
  }
  
  li.panel-body {
      border-top: 1px solid #eeeeee;
  }
  
  li.panel-body:first-child {
    border-top: none;
  }
  
  span.listing-title {
    font-size: 18px;
  }
  
  .row-table{
    display: table;
    table-layout: fixed;
    width: 100%; 
  }
  
  .col-middle{
    vertical-align: middle;
    display: table-cell;
    float: none;
  }
  
  .panel-list-img {
    height: 61px;
  }
  
  .panel-list-img img {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 767px){
    .row-table, .col-middle{
      display: block;
    }
  
    .panel-list-img {
      height: 170px;
    }
  }

  //Top-search-fieldのcss
  .top-search-field{
      height: 90px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px 0;
      background: rgba(0,0,0,0.6);
  }

  @media (min-width: 992px){
      .top-search-field .col-md-7,.col-md-2,.col-md-1{
          padding: 0;
      }
  }

  .top-search-field input{
      border-radius: 0;
  }

//topページコンテントのcss
.portfolio-item a img{
    width:100%;
    height: 200px;
}

.portfolio-caption{
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding:15px
}

section h2.section-heading{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400px    
}

// フッターのCSS
footer {
    padding: 120px 0;
    text-align: center;
    background: #2b2d2e;
    height:250px;
}
footer{
    display: block;
}

footer span.copyright{
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #fff
}

ul.social-buttons{
    margin-bottom: 0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:focus, ul.social-buttons li a:active{
    background-color:#d9534f;
}

.list-inline{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

li.text-white a{
    color: #fff
}

ul.social-buttons li a{
    display:block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
}

footer ul.quicklinks{
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

body{
    color:#222;
    background-color: #F8F8F8;
}
